extends layout.pug

block style 
    link(rel="stylesheet", href="style/home.css")

block content 

    .home 
        h1.home__title Money tracking web application
        p.home__subtitle This application does not reflect any real business or service; it was made exclusively for educational reasons as a prerequisite for the Web Technology module. <br> The information and content on this website are only meant to be used for educational purposes and should not be taken as professional advice or direction.