extends layout.pug

block style 
    link(rel="stylesheet", href="style/home.css")

block content 

    .home 
        h1.home__title Money tracking web application
        p.home__subtitle This application does not reflect any real business or service; it was made exclusively for educational reasons as a prerequisite for the Web Technology module. <br> The information and content on this website are only meant to be used for educational purposes and should not be taken as professional advice or direction.
        p Any similarity to real people, organizations, things, or services is coincidental.
        p Any goods, services, or people mentioned on this website are not endorsed or promoted by the website's developers.
        p This website's information and content are subject to change at any time and without prior notice. Any decisions made based on the information on this website by users are their exclusive responsibility. This website's developers disclaim all responsibility for any harm that may result.