doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/app.css")
        link(rel="stylesheet", href="/style/header.css")
        link(rel="stylesheet", href="/style/section.css")
        block style
        title Money Tracker
    body 
        header.header
            .container
                .flex.justify-between.align-center
                    a(href="/").header__logo.flex.align-center
                        p Money tracker
                    .header__links 
                        ul.header__list.flex
                            li.header__list_item
                                a(href="/categories").header__list_link Categories
                            li.header__list_item
                                a(href="/spendings").header__list_link Spendings

        main 
            block content
            